

.cardArticle{
  position: relative;
  overflow: hidden;
}

.cardArticle:not(:hover){
  animation: showOverflow 2s forwards;
  -webkit-animation: showOverflow 2s forwards;
}

.cardArticle:not(:hover) .cardData{
  animation: removeData 1s forwards;
  -webkit-animation: removeData 1s forwards;
}

.cardArticle:hover{
  animation: removeOverflow 2s forwards;
  -webkit-animation: removeOverflow 2s forwards;
}

.cardArticle:hover .cardData{
  animation: showData 1s forwards;
  -webkit-animation: showData 1s forwards;
  opacity: 1;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
}



.cardData{
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  -webkit-transition: opacity 1s 1s;
  -moz-transition: opacity 1s 1s;
  -ms-transition: opacity 1s 1s;
  -o-transition: opacity 1s 1s;
}

@keyframes showData{
  50%{
    transform: translateY(-10rem);
    -webkit-transform: translateY(-10rem);
    -moz-transform: translateY(-10rem);
    -ms-transform: translateY(-10rem);
    -o-transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
    -webkit-transform: translateY(-7rem);
    -moz-transform: translateY(-7rem);
    -ms-transform: translateY(-7rem);
    -o-transform: translateY(-7rem);
}
}

@keyframes removeOverflow{
  to{
    overflow: initial;
  }
}

@keyframes removeData{
  0%{
    transform: translateY(-7rem);
    -webkit-transform: translateY(-7rem);
    -moz-transform: translateY(-7rem);
    -ms-transform: translateY(-7rem);
    -o-transform: translateY(-7rem);
  }
  50%{
    transform: translateY(-10rem);
    -webkit-transform: translateY(-10rem);
    -moz-transform: translateY(-10rem);
    -ms-transform: translateY(-10rem);
    -o-transform: translateY(-10rem);
}
  100%{
    transform: translateY(.5rem);
    -webkit-transform: translateY(.5rem);
    -moz-transform: translateY(.5rem);
    -ms-transform: translateY(.5rem);
    -o-transform: translateY(.5rem);
}
}

@keyframes showOverflow{
  0%{
    overflow: initial;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

