.serviceCon{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.serviceCon::-webkit-scrollbar {
  width: 8px;
}

.serviceCon::-webkit-scrollbar-thumb {
  background-color: rgb(67, 177, 164);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.serviceCon::-webkit-scrollbar-track {
  background-color: rgb(241, 238, 238);
  border: 1px solid #fdf8f8;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}