.clientDiscussion{
  background-image: url('../../../../public/clientDiscussion/meeting.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.clientDetails::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
}
.clientDetails{
z-index: 3;
position: relative;
}

.playBtn{
  background: #2563EB;
  color: #fff;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: relative;
}
.playBtn::before{
  content: '';
  position: absolute;
  border: 15px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: button1 1.5s linear infinite;
  -webkit-animation: button1 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
}
.playBtn::after{
  content: '';
  position: absolute;
  border: 15px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  animation: button2 1.5s linear infinite;
  -webkit-animation: button2 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
  animation-delay: .4s;
}

@keyframes button1{
  0%{
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
}
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
}
@keyframes button2{
  0%{
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
}
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
}



/* media screen section start */

@media (min-width: 320px) and (max-width: 639px) {

  @keyframes button1{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.8);
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
}
  }
  @keyframes button2{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.8);
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -ms-transform: scale(.8);
      -o-transform: scale(.8);
}
  }
}

@media (min-width: 640px) and (max-width: 767px) {

  @keyframes button1{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.9);
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      -ms-transform: scale(.9);
      -o-transform: scale(.9);
}
  }
  @keyframes button2{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.9);
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      -ms-transform: scale(.9);
      -o-transform: scale(.9);
}
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  @keyframes button1{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.9);
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      -ms-transform: scale(.9);
      -o-transform: scale(.9);
}
  }
  @keyframes button2{
    0%{
      transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      -ms-transform: scale(.3);
      -o-transform: scale(.3);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(.9);
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      -ms-transform: scale(.9);
      -o-transform: scale(.9);
}
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  @keyframes button1{
    0%{
      transform: scale(.5);
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      -ms-transform: scale(.5);
      -o-transform: scale(.5);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
  @keyframes button2{
    0%{
      transform: scale(.5);
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      -ms-transform: scale(.5);
      -o-transform: scale(.5);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
}

@media screen and (min-width: 1536px) {
  @keyframes button1{
    0%{
      transform: scale(.5);
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      -ms-transform: scale(.5);
      -o-transform: scale(.5);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
  @keyframes button2{
    0%{
      transform: scale(.5);
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      -ms-transform: scale(.5);
      -o-transform: scale(.5);
}
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
}
/* media screen section end */